In [206]:
import numpy as np
import findspark
findspark.init('/home/reyhandagci/spark-3.2.1-bin-hadoop3.2')
import pyspark
import sqlite3
from pyspark.sql import SparkSession

In [207]:
spark = SparkSession.builder.appName('case').getOrCreate()

In [208]:
#reading csv files which are extracted from db file.
links = spark.read.csv('links.csv',inferSchema=True,header=True)
ratings = spark.read.csv('ratings.csv',inferSchema=True,header=True)
movies = spark.read.csv('movies.csv',inferSchema=True,header=True)
tags = spark.read.csv('tags.csv',inferSchema=True,header=True)

In [209]:
links.show()

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

In [210]:
#observing the type of column of the links file.
links.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- imdbId: integer (nullable = true)
 |-- tmdbId: integer (nullable = true)

In [211]:
ratings.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      6|   2.0|980730861|
|     1|     22|   3.0|980731380|
|     1|     32|   2.0|980731926|
|     1|     50|   5.0|980732037|
|     1|    110|   4.0|980730408|
|     1|    164|   3.0|980731766|
|     1|    198|   3.0|980731282|
|     1|    260|   5.0|980730769|
|     1|    296|   4.0|980731208|
|     1|    303|   3.0|980732235|
|     1|    318|   3.0|980731417|
|     1|    350|   3.0|980731745|
|     1|    366|   2.0|980731621|
|     1|    367|   4.0|980731380|
|     1|    431|   2.0|980731312|
|     1|    432|   2.0|980732235|
|     1|    451|   1.0|980731789|
|     1|    457|   4.0|980730816|
|     1|    474|   3.0|980730816|
|     1|    480|   4.0|980731903|
+------+-------+------+---------+
only showing top 20 rows

In [212]:
#observing the type of column of the ratings file.
ratings.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [213]:
movies.show()

+-------+--------------------+----+--------------------+
|movieId|               title|year|              genres|
+-------+--------------------+----+--------------------+
|      1|           Toy Story|1995|Adventure|Animati...|
|      2|             Jumanji|1995|Adventure|Childre...|
|      3|    Grumpier Old Men|1995|      Comedy|Romance|
|      4|   Waiting to Exhale|1995|Comedy|Drama|Romance|
|      5|Father of the Bri...|1995|              Comedy|
|      6|                Heat|1995|Action|Crime|Thri...|
|      7|             Sabrina|1995|      Comedy|Romance|
|      8|        Tom and Huck|1995|  Adventure|Children|
|      9|        Sudden Death|1995|              Action|
|     10|           GoldenEye|1995|Action|Adventure|...|
|     11|American Presiden...|1995|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|1995|       Comedy|Horror|
|     13|               Balto|1995|Adventure|Animati...|
|     14|               Nixon|1995|               Drama|
|     15|    Cutthroat Island|1995|Action|Adventure|...|
|     16|              Casino|1995|         Crime|Drama|
|     17|Sense and Sensibi...|1995|       Drama|Romance|
|     18|          Four Rooms|1995|              Comedy|
|     19|Ace Ventura: When...|1995|              Comedy|
|     20|         Money Train|1995|Action|Comedy|Cri...|
+-------+--------------------+----+--------------------+
only showing top 20 rows

In [214]:
#observing the type of column of the movies file.
movies.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- genres: string (nullable = true)

In [215]:
tags .show()

+------+-------+----------------+----------+
|userId|movieId|             tag| timestamp|
+------+-------+----------------+----------+
|    40|      1|       animation|1306926135|
|    40|      1|         fantasy|1306926130|
|    40|      1|           Pixar|1306926133|
|    40|     47|            dark|1306930201|
|    40|     47|      disturbing|1306930291|
|    40|     47|        thriller|1306930308|
|    40|    101| off-beat comedy|1307009664|
|    40|    101|    Wes Anderson|1307009667|
|    40|    208|post-apocalyptic|1306930611|
|    40|    208|          sci-fi|1306930614|
|    40|    208|        survival|1306930626|
|    40|    223| Dialogue Driven|1306930837|
|    40|    223|      view askew|1306930797|
|    40|    253| based on a book|1306877984|
|    40|    253|         fantasy|1306877977|
|    40|    253|        vampires|1306877982|
|    40|    353|      comic book|1307889681|
|    40|    353|         Fantasy|1307889678|
|    40|    353|         romance|1307889686|
|    40|    364|       animation|1306930320|
+------+-------+----------------+----------+
only showing top 20 rows

In [216]:
#observing the type of column of the tags file.
tags.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: integer (nullable = true)

In [270]:
#checking if the dataframe contains null values.
ratings.filter(ratings.timestamp.isNull()).show()
#there are null values in the timestamp  column but ı will not operate in this 
#column so I didn't feel the need to remove the null values.

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      6|   2.0|     null|
|     1|     22|   3.0|     null|
|     1|     32|   2.0|     null|
|     1|     50|   5.0|     null|
|     1|    110|   4.0|     null|
|     1|    164|   3.0|     null|
|     1|    198|   3.0|     null|
|     1|    260|   5.0|     null|
|     1|    296|   4.0|     null|
|     1|    303|   3.0|     null|
|     1|    318|   3.0|     null|
|     1|    350|   3.0|     null|
|     1|    366|   2.0|     null|
|     1|    367|   4.0|     null|
|     1|    431|   2.0|     null|
|     1|    432|   2.0|     null|
|     1|    451|   1.0|     null|
|     1|    457|   4.0|     null|
|     1|    474|   3.0|     null|
|     1|    480|   4.0|     null|
+------+-------+------+---------+
only showing top 20 rows

In [266]:
#checking if the dataframe contains null values.
movies.filter(movies.year.isNull()).show()
#there are null values in the year  column but ı will not operate in this 
#column so I didn't feel the need to remove the null values.

+-------+--------------------+----+------------------+
|movieId|               title|year|            genres|
+-------+--------------------+----+------------------+
| 108548|Big Bang Theory, ...|null|            Comedy|
| 129651|The Third Reich: ...|null|(no genres listed)|
+-------+--------------------+----+------------------+

In [217]:
#correcting data types of dataframes. 
from pyspark.sql.types import (StructType,StringType,IntegerType,
                               StructField,TimestampType,DoubleType,DateType)

data_links = [StructField('movieId',IntegerType(),True),
              StructField('imdbId',IntegerType(),True),
              StructField('tmdbId',IntegerType(),True)]

data_ratings = [StructField('userId',IntegerType(),True),
               StructField('movieId',IntegerType(),True),
               StructField('rating',DoubleType(),True),
               StructField('timestamp',TimestampType(),True)]

data_movies = [StructField('movieId',IntegerType(),True),
               StructField('title',StringType(),True),
               StructField('year',DateType(),True),
               StructField('genres',StringType(),True)]

data_tags = [StructField('userId',IntegerType(),True),
               StructField('movieId',IntegerType(),True),
               StructField('tag',StringType(),True),
               StructField('timestamp',TimestampType(),True)]

In [218]:
final_links = StructType(fields=data_links)
final_rating = StructType(fields=data_ratings)
final_movies = StructType(fields=data_movies)
final_tags = StructType(fields=data_tags)

In [219]:
#re-reading files with corrected data types
links = spark.read.csv('links.csv',schema=final_links,inferSchema=True,header=True)
ratings = spark.read.csv('ratings.csv',schema=final_rating,inferSchema=True,header=True)
movies = spark.read.csv('movies.csv',schema=final_movies,inferSchema=True,header=True)
tags = spark.read.csv('tags.csv',schema=final_tags,inferSchema=True,header=True)

In [220]:
movies.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- year: date (nullable = true)
 |-- genres: string (nullable = true)

In [221]:
ratings.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [222]:
#creating views to join 2 table to create demanded dataframe (question 1)
links.createOrReplaceTempView('link')
ratings.createOrReplaceTempView('ratingg')
movies.createOrReplaceTempView('movie')
tags.createOrReplaceTempView('tag')

In [223]:
#joining ratings and movies table.
join_df = spark.sql("""select ratingg.userId,movie.movieId,movie.genres,ratingg.rating
from ratingg inner join movie on ratingg.movieId = movie.movieId""")

In [224]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [225]:
from pyspark.sql.functions import *

In [227]:
join_df.select(['userId','movieId']).show()

+------+-------+
|userId|movieId|
+------+-------+
|     1|      6|
|     1|     22|
|     1|     32|
|     1|     50|
|     1|    110|
|     1|    164|
|     1|    198|
|     1|    260|
|     1|    296|
|     1|    303|
|     1|    318|
|     1|    350|
|     1|    366|
|     1|    367|
|     1|    431|
|     1|    432|
|     1|    451|
|     1|    457|
|     1|    474|
|     1|    480|
+------+-------+
only showing top 20 rows

In [228]:
movies.select(count('movieId')).show()

+--------------+
|count(movieId)|
+--------------+
|          8570|
+--------------+

In [229]:
ratings.select(count('movieId')).show()

+--------------+
|count(movieId)|
+--------------+
|        100023|
+--------------+

In [230]:
join_df.select(countDistinct('movieId')).show()

+-----------------------+
|count(DISTINCT movieId)|
+-----------------------+
|                   8552|
+-----------------------+

In [231]:
join_df.select(count('movieId')).show()

+--------------+
|count(movieId)|
+--------------+
|        100023|
+--------------+

In [232]:
#controlling the dataframe.
join_df.filter(join_df['rating']==2.0).show()

+------+-------+--------------------+------+
|userId|movieId|              genres|rating|
+------+-------+--------------------+------+
|     1|      6|Action|Crime|Thri...|   2.0|
|     1|     32|Mystery|Sci-Fi|Th...|   2.0|
|     1|    366|Drama|Horror|Myst...|   2.0|
|     1|    431|         Crime|Drama|   2.0|
|     1|    432|Adventure|Comedy|...|   2.0|
|     1|    590|Adventure|Drama|W...|   2.0|
|     1|    924|Adventure|Drama|S...|   2.0|
|     1|    996|Action|Crime|Dram...|   2.0|
|     1|   1199|      Fantasy|Sci-Fi|   2.0|
|     1|   1394|              Comedy|   2.0|
|     1|   1645|Drama|Mystery|Thr...|   2.0|
|     1|   1732|        Comedy|Crime|   2.0|
|     1|   1748|Adventure|Film-No...|   2.0|
|     1|   1754|Crime|Drama|Fanta...|   2.0|
|     1|   2130| Crime|Drama|Romance|   2.0|
|     1|   2248|Comedy|Drama|Romance|   2.0|
|     1|   2542|Comedy|Crime|Thri...|   2.0|
|     1|   2692|        Action|Crime|   2.0|
|     1|   2713|     Horror|Thriller|   2.0|
|     1|   2764|Crime|Drama|Roman...|   2.0|
+------+-------+--------------------+------+
only showing top 20 rows

In [233]:
ratings.select(countDistinct('userId')).show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   706|
+----------------------+

In [234]:
#checking if the join is done correctly
join_df.filter(join_df.genres.isNull()).show()

+------+-------+------+------+
|userId|movieId|genres|rating|
+------+-------+------+------+
+------+-------+------+------+

In [317]:
#counting ratings for each movie and listing top 5 movies with the highest value
grouped_data = ratings.groupBy("movieId").sum('rating')
top = grouped_data.orderBy(grouped_data['sum(rating)'].desc())
top.show(5)

+-------+-----------+
|movieId|sum(rating)|
+-------+-----------+
|    318|     1457.0|
|    593|     1427.5|
|    296|     1353.0|
|    260|     1284.0|
|    356|     1243.0|
+-------+-----------+
only showing top 5 rows

In [318]:
#controlling created top data.
grouped_data.filter(grouped_data['movieId']==318).show() 
# 1580   640. 5   1645  193

+-------+-----------+
|movieId|sum(rating)|
+-------+-----------+
|    318|     1457.0|
+-------+-----------+

In [323]:
#finding and listing top 5 most rated genres from a created dataframe which is called join_df.
grouped_data1 = join_df.groupBy("genres").sum('rating')
top_genres = grouped_data1.orderBy(grouped_data1['sum(rating)'].desc())
top_genres.show(5)

+--------------+-----------+
|        genres|sum(rating)|
+--------------+-----------+
|         Drama|    25650.0|
|        Comedy|    20529.5|
|Comedy|Romance|    12930.5|
| Drama|Romance|    11295.5|
|  Comedy|Drama|    10709.5|
+--------------+-----------+
only showing top 5 rows

In [235]:
#RECOMMENDATION MODELLING

In [236]:
from pyspark.ml.recommendation import ALS

In [324]:
#INITIATING OUR ALS MODEL AND SPLIT THE DATASET INTO TWO PARTS FOR TRAINING AND TESTING
als = ALS(maxIter=10, regParam=0.5, userCol="userId",itemCol ="movieId",ratingCol ="rating",coldStartStrategy ="drop")
train,test = join_df.randomSplit([0.8,0.2])

In [325]:
#TRAINING MODEL AND GENERATING PREDICTIONS

In [326]:
#training the model
alsModel = als.fit(train)

In [327]:
#generating predictions
prediction = alsModel.transform(test)
prediction.show(10)

+------+-------+--------------------+------+----------+
|userId|movieId|              genres|rating|prediction|
+------+-------+--------------------+------+----------+
|     1|   1645|Drama|Mystery|Thr...|   2.0| 2.9811044|
|     7|    471|              Comedy|   4.0| 3.5710497|
|     8|   1088|Drama|Musical|Rom...|   2.0| 3.1344001|
|    10|    471|              Comedy|   3.5| 3.1373277|
|    13|   2142|Adventure|Animati...|   3.5| 2.7220407|
|    31|   2142|Adventure|Animati...|   0.5| 2.2773557|
|    38|   1580|Action|Comedy|Sci-Fi|   4.5|  3.554004|
|    40|   1580|Action|Comedy|Sci-Fi|   3.5| 3.1050837|
|    44|   1580|Action|Comedy|Sci-Fi|   3.5|  3.329278|
|    48|   1580|Action|Comedy|Sci-Fi|   5.0| 3.4759336|
+------+-------+--------------------+------+----------+
only showing top 10 rows

In [328]:
#evaluating the model ( how good is it?)
from pyspark.ml.evaluation import RegressionEvaluator

In [329]:
evaluator = RegressionEvaluator(metricName = "mse",labelCol="rating",predictionCol="prediction")

In [330]:
evaluator1 = RegressionEvaluator(metricName = "rmse",labelCol="rating",predictionCol="prediction")

In [331]:
evaluator2 = RegressionEvaluator(metricName = "mae",labelCol="rating",predictionCol="prediction")

In [332]:
mse =evaluator.evaluate(prediction)
rmse =evaluator1.evaluate(prediction)
mae =evaluator2.evaluate(prediction)

In [333]:
mse

1.1098223653332344

In [334]:
rmse

1.0534810702301367

In [335]:
mae

0.8633984273298418

In [336]:
#recommending top three movies for every user
recommended_movie_df = alsModel.recommendForAllUsers(3)

In [337]:
recommended_movie_df.show(10,False)

+------+----------------------------------------------------------+
|userId|recommendations                                           |
+------+----------------------------------------------------------+
|1     |[{2651, 4.736836}, {2650, 4.736836}, {70992, 4.694742}]   |
|2     |[{2650, 5.6595435}, {2651, 5.6595435}, {70992, 5.6097937}]|
|3     |[{2650, 5.846903}, {2651, 5.846903}, {70992, 5.794064}]   |
|4     |[{2650, 4.775867}, {2651, 4.775867}, {70992, 4.7347474}]  |
|5     |[{2650, 4.5389338}, {2651, 4.5389338}, {70992, 4.4853444}]|
|6     |[{2650, 4.7820315}, {2651, 4.7820315}, {70992, 4.7398176}]|
|7     |[{2650, 5.729844}, {2651, 5.729844}, {70992, 5.680857}]   |
|8     |[{2650, 5.488645}, {2651, 5.488645}, {70992, 5.4397545}]  |
|9     |[{2650, 5.2365346}, {2651, 5.2365346}, {70992, 5.189263}] |
|10    |[{2650, 5.033705}, {2651, 5.033705}, {70992, 4.986099}]   |
+------+----------------------------------------------------------+
only showing top 10 rows